<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>VueTask</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
<div id="app">
名前：<input v-model="name">
コース：<input v-model="cource">
受講期：<input v-model="acceptance_period">
<br>
<button v-on:click="addStudent">入力した生徒を追加する</button>
<ul>
  <li v-for="student in students" v-bind:key="student.id">
      ID {{student.id}} /
      名前 {{student.name}} /
      コース {{student.cource}} /
      受講期 {{student.acceptance_period}}
  </li>
</ul>
</div>
<script script type="text/javascript" src="main.js"></script>
</body>
</html>
